# ----------------------
# Common aliases
# ----------------------
alias l='ls'
alias ll='ls -l'
alias la='ls -la'

# -----------
# Composer and Symfony
# -----------
alias gim='vim . +Neogit +only'
# Quit console like in vim
alias :q='exit'
alias q='exit'

# ----------------------
# Tmux shortcuts
# ----------------------
alias tm="tmux"
alias rm-node-modules-recursive="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"

# ----------------------
# Config shortcuts
# ----------------------
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias vimconfig="nvim ~/.config/nvim/init.vim"

# ----------------------
# Port and networking
# ----------------------
alias showports="lsof -i -P -n | grep LISTEN"

# ----------------------
# Kubectl
# ----------------------
alias k="kubectl"
alias kx="kubectl config get-contexts"
alias kxs="kubectl config use-context"

# ----------------------
# Terraform
# ----------------------
alias tf="terraform"

# ----------------------
# vim
# ----------------------
if command -v nvim &>/dev/null; then
  alias vim='nvim'
  alias v='nvim'
  alias vi='nvim'
fi

# ----------------------
# Ranger
# ----------------------
alias r='ranger'

# ----------------------
# Eza
# ----------------------
if command -v bat &>/dev/null; then
  alias ls='eza --git --icons=always'
fi

# ----------------------
# Exegol
# ----------------------
alias htb='exegol start --arch amd64 --vpn /Users/julien/Documents/Personal/HTB/StartingPoint/starting_point_JLighter.ovpn -V ~/.tmux.conf:/opt/my-resources/setup/tmux/tmux.conf:ro -V ~/.tmux:/root/.tmux:ro --desktop --env="DISPLAY=host.docker.internal:0" --shell=tmux htb full'
